* {
  box-sizing: border-box;
  text-transform: fantasy;
}

p {
	overflow: hidden;
	clear: right;
	height: 147px;
}

div {
  background: grey;
  margin: 0.5%;
  border: 3px solid black;
}

div > div {
  text-align: right;
  float: right;
  font-size: 125%;
}

div.cl-1 > div {
  background: yellow;
}

div.cl-2 > div {
  background: red;
}

div.cl-3 > div {
  background: orange;
}

h1{
	text-align: center;
	font-size: 175%;
}
/********** Large devices only **********/

@media (min-width: 992px) {
  .cl-1, .cl-2, .cl-3 {
   width: 31.5%;
   float: left;
  }
}
/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  
  .cl-1, .cl-2, .cl-3 {
  	float: left;
  }
  .cl-1, .cl-2 {
    width: 49%;
  }
}
/********** Mobile devices only **********/
@media (max-width: 767px) {
  
}
